<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Service UI</title>
</head>
<body>
<h1>Students</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Student Number</th>
    </tr>
    <tr th:each="s : ${students}">
        <td th:text="${s.id}">1</td>
        <td th:text="${s.firstName}">Alice</td>
        <td th:text="${s.lastName}">Johnson</td>
        <td th:text="${s.studentNumber}">12345</td>
    </tr>
</table>

<h1>Create Student</h1>

<form th:action="@{/add}" th:object="${student}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" /><br/><br/>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" /><br/><br/>
    <label>Student Number:</label>
    <input type="number" th:field="*{studentNumber}" /><br/><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>